<div class="container">
  <nav class="pagination" role="pagination">
    <ul>
      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous newer-posts"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
        {% endif %}
        <span class="page_number ">
          Page {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next older-posts"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
        {% endif %}
      </div>
    </ul>
  </nav>
</div>
